name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Publish API
        run: |
          dotnet publish EmergencyAppAws.API/EmergencyAppAws.API.csproj -c Release -o ./publish

      - name: Copy Procfile and Extensions
        run: |
          cp EmergencyAppAws.API/Procfile ./publish/
          mkdir ./publish/.ebextensions
          cp .ebextensions/* ./publish/.ebextensions/

      - name: Generate Deployment Package
        run: |
          cd publish
          zip -r ../deploy_package.zip .

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: EmergencyAppAws
          environment_name: EmergencyAppAws-env
          version_label: ${{ github.sha }}
          region: us-east-1
          deployment_package: deploy_package.zip
