name: Deploy Backend

on:
  push:
    branches:
      - main
    paths:
      - 'EmergencyAppAws.API/**'
      - '.github/workflows/deploy-backend.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Publish API
        run: |
          cd EmergencyAppAws.API
          dotnet publish -c Release -o ./publish

      - name: Generate Deployment Package
        run: |
          cd EmergencyAppAws.API/publish
          zip -r ../../deploy.zip .

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: ${{ secrets.AWS_REGION }}
          application_name: ${{ secrets.EB_APP_NAME }}
          environment_name: ${{ secrets.EB_ENV_NAME }}
          version_label: "ver-${{ github.sha }}-${{ github.run_number }}"
          deployment_package: deploy.zip
          use_existing_version_if_available: true
